body {
	background: white;
	font-family: monospace;
}

.header {
	background: lightblue;
	border: solid 0.1rem black;
	font-size: large;
	font-weight: bold;
	margin: 1rem;
	padding: 0.5rem;
	padding-left: 1rem;
}

.form {
	border: solid 0.1rem black;
	margin: 1rem;
	padding-left: 1rem;
}